.login-wrapper {
  height: 790px;
  background-color: #f8f9fa;
}

.login-card {
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
  height: auto;
  color: #00293f;
}

.login-title {
  font-weight: 700;
  font-size: 1.4rem;
}

.login-form input {
  border: 1px solid #00293f;
  border-radius: 14px;
  padding: 0.6em;
  color: #00293f;
}

.login-form input::placeholder {
  color: #999;
}

.login-form button:hover {
  opacity: 0.9;
}
